*{
   margin: 0px;
   padding: 0px;
}
:root{
   --gradiente-cor: 
}
/*--------------HEADER---------------*/
main{
   font-family: Arial, Helvetica, sans-serif;
}
header{
   background-color: white;
   padding: 10px 20px;
   display: flex;
   position: relative;
   color: black;
}
header span.title{
   color: maroon;
}
header nav{
   position: absolute;
   display: flex;
   right: 250px;
   margin: 10px 0px;
}
header nav li{
   margin: 10px;
   display: inline;
   list-style: none;
}
header nav a{
   color: black;
   text-decoration: none;
}
header nav a:hover{
   text-decoration: underline 2px orange;
   
}
header .wpp{
   background: linear-gradient(to right, rgb(41, 186, 243), rgb(11, 168, 230));
   width: 200px;
   padding: 10px;
   text-align: center;
   color: white;
   position: absolute;
   right:10px;
   border-radius: 5px;
}
header .wpp:hover{
   background: linear-gradient(to right, rgb(6, 219, 6), rgb(6, 219, 6));
}
header .wpp a{
   color: white;
   text-decoration: none;
}

/*------------CONTAINER 1------------*/

.container1{
   
   background-size: cover;
   background-color: rgb(214, 182, 92);
   background-image: url(../assets/imagens/background-container1.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: scroll;

   height: 450px;
   margin: 20px 0px;
   padding: 20px;
   color: white;
   position: relative;
}
.container1 .art1{
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.349);
   display: block;
   height: auto;
   width: 300px;
   position: absolute;
   top: 50%;
   
   transform: translateY(-50%);
}
.container1 .art1 h1{
   width: 240px;
   font-weight: bold;
   font-size: 2em;
}
.container1 .art1 p{
   margin: 20px 0px;
   color: rgb(192, 189, 189);
}
.container1 .art1 p.box{
   font-weight: bold;
   background: linear-gradient(to right, rgb(41, 186, 243), rgb(11, 168, 230));
   padding: 20px;
   color: white;
   border-radius: 5px;
   text-align: center;
   width: 250px;
}
.container1 .art1 p.box:hover{
   background: linear-gradient(to right, orange, orange);
   color: black;
}
.container1 .art1 a{
   color: white;
   text-decoration: none;
}

/*------------CONTAINER 2------------*/

.container2-principal{
   background-color: white;
   height: auto;
   padding: 20px;
}
.container2-principal .container2-all{
   display: flex;
   justify-content: center;
   font-size: 1.2em;
}
.container2-principal .container2-all .card{
   margin: 0px 20px;
   width: 400px;
}
.container2-principal .container2-all .art2 div.bio{
   margin-bottom: 20px;
}
.container2-principal .container2-all .art2 div.bio {
   color: orange;
   text-align: center;
}
.container2-principal .container2-all .art2 div.bio p{
   color: black;
}
.container2-principal .container2-all .imagem img{
   width: 300px;
   
}

.container2-principal .container2-all p.box{
   background-color: orange;
   width: 300px;
   margin: 10px 0px;
   padding: 10px;
}
.container2-principal .container2-all .imagem{
   background-color: grey;
   width: 300px;
   height: 400px;
}
.container2-principal .container2-all .art3 a{
   color: black;
   text-decoration: none;
   font-size: 18px;
   margin: 10px ;
}
.container2-principal .container2-all .art3 a:hover{
   color: orange;
}
/*------------CONTAINER 3------------*/

.container3{
   background-color: rgb(70, 67, 67);
   padding: 20px 20px;
   text-align: center;
   color: rgb(211, 206, 206);
   margin-top: 25px;
}
.container3 .art4 h3{
   color: white;
   margin: 20px 0px;
   font-size: 2em;
}
.container3 .art4 .h3{
   font-size: 1.8em;
}
.container3 .art5{
   display: flex;
   margin: 10px 0px;
   justify-content: center;
   
}
.container3 .art5 .card{
   padding: 20px;
   height: 100px;
   color: rgb(211, 206, 206);
   border: 1px solid rgba(255, 255, 255, 0.719);
   margin: 20px 10px;
}
.container3 .art5 .card img{
   margin: auto;
   width: 100px;
}

/*------------CONTAINER 4------------*/

.container4{
   display: flex;
   padding: 30px 20px;
   background-color: orange;
   font-size: 1.3em;
   text-align: center;
   position: relative;
}
.container4 p{
   margin: auto;
}
.container4 .button{
   color: white;
   background: linear-gradient(to right, rgb(41, 186, 243), rgb(11, 168, 230));
   border-radius: 5px;
   padding: 20px;
   margin: 20px 40px;
}

.container4 a{
   color: white;
   text-decoration: none;
}
.container4 .button:hover{
   
   background: linear-gradient(to right, rgb(3, 196, 3), rgb(3, 196, 3));
}

/*------------CONTAINER 5------------*/

.container5{
   margin: 20px;
}
.container5 .box{
   text-align: center;
   font-size: 1.5em;
   margin: 40px;
}
.container5 .box p{
   color: rgb(155, 153, 153);
   
}
.container5 div.box_dep{
   
   font-size: 1.5em;
   display: flex;
}
.container5 div.box_dep div.card_dep{
   position: relative;
   background-color: gray;
   margin: 10px;
   width: 90vw;
   margin-bottom: 30px;
}

.container5 div.box_dep div.card_dep h4{
   color: orange;
   margin-bottom: 20px;
}
.container5 div.box_dep div.card_dep p{
   color: rgb(21, 185, 235);
   font-weight: bold;
   margin: 20px;
}
.container5 div.box_dep div.card_dep video{
   position: relative;
   background-color: rgba(255, 255, 0, 0.363);
   width: 100%;
}
.container5 .noticias{
   text-align: center;
   margin: 40px 0px;
}
.container5 .noticias p{
   
   font-weight: bolder;
   padding: 5px;
   color: rgb(0, 153, 255);
   font-size: 1.5em;
   border: 1px solid rgb(0, 153, 255);
   border-radius: 5px;
   display: inline;
}
.container5 .noticias a{
   color: rgb(0, 153, 255);
   text-decoration: none;
}
.container5 .noticias p:hover{
   color: orange;
   border: 1px solid orange;
}
/*------------CONTAINER 6------------*/

.container6{
   padding: 40px 20px;
   background-color: rgb(243, 240, 236);
   display: flex;
   font-size: 1.5em;
}
.container6 .cards{
   width: 100vw;
   margin: 0px 20px;
   
}
.container6 .card{
   margin-right: 20px;
   justify-content: center;
   font-size: 1.2em;
}
.container6 .card_blumenau{
   width: 350px;
}
.container6 p.end{
   margin: 30px 0px;
   color: rgb(150, 150, 150);
}
.container6 .cards .button_wpp{
   width: 300px;
   font-size: 18px;
   display: flex;
   background-color: rgb(40, 207, 236);
   padding: 20px;
   border-radius: 8px;
   margin: 10px 0px;
   color: white;
}
.container6 a{
   text-decoration: none;
}
.container6 .card_blumenau .button_wpp img{
   width: 50px;
   background-color: yellow;
   margin-right: 20px;
   
}
.container6 .card_blumenau .button_wpp:hover {
   
   background: linear-gradient(to right, rgb(6, 219, 6), rgb(6, 219, 6));
}
.container6  .button_local{
   margin: 30px auto;
}
.container6  .button_local p{
   border: 1px solid rgb(40, 207, 236);
   border-radius: 5px;
   display: inline;
   padding: 2px 0px;
   
   color: rgb(40, 207, 236);
   margin: 20px 0px;
}
.container6  .button_local p:hover{
   border: 1px solid orange;
   color: orange;
}
.container6 .card_blumenau .tel p{
   color: gray;
   font-size: 20px;
}
.container6 .tel p.number{
   color: rgb(12, 187, 187);
   
}
.container6 .card_brusque{
   margin: 40px 0px;
}
/*---------------FOOTER--------------*/

footer{
   background-color: rgb(160, 160, 160);
   height: 400px;
}
footer h1{
   text-align: center;
}

/*------------MEDIA QUERY------------*/
@media (max-width:1030px){
   /*-----------CONTAINER 2-----------*/
  
   /*-----------CONTAINER 5-----------*/
   .container5 div.box_dep{
      display: block;
   }

}
@media (max-width: 800px){
   /*-----------HEADER-----------*/
   header h1{
      margin: auto;
   }
   header nav{
      display: none;
   }
   /*----------FIM HEADER---------*/

   /*-----------CONTAINER 1-----------*/

   .container1{
      height: 350px;
   }
   .container1 .art1{
      height: auto;
      width: auto;
      text-align: center;
      margin: auto;
   }
   .container1 .art1 h1{
      width: auto;
      text-align: center;
   }
   .container1 .art1 .box{
      margin: auto;
   }

   /*-----------CONTAINER 2-----------*/
   .container2-principal{
      position: relative;
   }
   .container2-principal .container2-all{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
   }
   .container2-principal .container2-all .art3{
      margin-top: 60px;
   }
   .container2-principal .container2-all .art2 div.bio {
      text-align: center;
      
   }
   /*----------FIM CONTAINER1---------*/
   /*-----------CONTAINER 3-----------*/
   .container3{
      position: relative;
      margin-top: 1000px;
   }
   .container3 .art5{
      display: block;
   }
   /*----------FIM CONTAINER1---------*/
   /*-----------CONTAINER 4-----------*/
   .container4{
      display: block;
   }
   /*-----------CONTAINER 6-----------*/
   .container6{
      display: block;
   }
   .container6 .cards{
      width: 400px;
      margin: auto;
   }
   .container6 .card_blumenau{
      margin: 20px auto 80px auto;
   }
}