*{
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   list-style: none;
}
:root{
   --color-hover: aqua;
}
a{
   color: inherit;
}
.content-menu{
   padding: 10px;
   display: flex;
   max-width: 1200px;
   width: 100%;
   margin: auto;
   align-items: center;
   justify-content: space-between;
}
/*--------------HEADER---------------*/
body{
   position: relative;
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
}
header{
   width: 100vw;
   padding: 0 10px;
   align-items: center;
   justify-content: center;
   background-color: white;
   display: flex;
   color: black;
}
header span.title{
   color: orange;
}
header nav{
   align-items: center;
   display: flex;
}
nav ul{
   display: flex;
   align-items: center;
   gap: 20px;
}
header nav li{
   transition: all 300ms ease-in-out;
   padding: 10px;
   color: black;
   text-decoration: none;
}
header nav li:hover {
   background-color: rgba(255, 166, 0, 0.637);
}
header .btn_wpp{
   cursor: pointer;
   background: linear-gradient(to right, rgb(41, 186, 243), rgb(11, 168, 230));
   padding: 10px;
   width: 200px;
   text-align: center;
   color: white;
}
header .btn_wpp:hover{
   transition: 0.5s;
   background: linear-gradient(to right, rgb(6, 219, 6), rgb(6, 219, 6));
}
header .btn_wpp {
   color: white;
   text-decoration: none;
   overflow: hidden;
}
#checkbox-menu{
   display: none;
}
/*------------ MENU MOBILE ------------*/
.menu-hamburguer{
   display: none;
   cursor: pointer;
}
.menu-hamburguer div{
   width: 32px;
   height: 2px;
   background-color: black;
   margin: 8px;
   transition: all 200ms ease-in-out;
}
@media (max-width: 800px) {
   .menu-hamburguer {
      display: block;
   }
   .menu {
      display: none;
      height: 0;
   }
   .menu ul{
      width: 100vw;
      flex-direction: column;
   }
   header nav li{
      width: 100vw;
      text-align: center;
   }
   #checkbox-menu:checked~.menu {
      display: flex;
      overflow-y: auto;
      visibility: visible;
      position: absolute;
      top: 57px;
      width: 40vw;
      height: 100vh;
      z-index: 10;
      background-color: white;
      width: 60vw; 
      right: 0;
      align-items: center;
      justify-content: center;
   }
   ul li.btn_wpp {
      order: -1;
   }
   #checkbox-menu:checked + .menu-hamburguer div.line1{
      transform: rotate(-45deg) translate(-8px);
   }
   #checkbox-menu:checked~.menu-hamburguer div.line2{
      position: absolute;
      opacity: 0;
   }
   #checkbox-menu:checked~.menu-hamburguer div.line3{
      transform: rotate(45deg) translate(-5px, -1px);
   }
}
.container-home{
   height: 100vh;
   display: flex;
   align-items: center;
   background-size: cover;
   background-color: rgb(214, 182, 92);
   background-image: url(../assets/imagens/bg-home.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: scroll;
   padding: 20px;
   color: white;
   position: relative;
}
.container-home .card{
   font-size: 1.5em;
   width: 600px;
   padding: 20px;
   background-color: rgba(0, 0, 0, 0.349);
   display: block;
}
.container-home .card h1{
   padding: 10px 0px;
   font-size: 3em;
}
.btn-mais{
   display: flex;
   font-size: 1.5em;
   border-radius: 10px;
   color: white;
   cursor: pointer;
   font-weight: bold;
   background-color: rgba(255, 166, 0, 0.973);
   border: none;
   margin: 20px auto;
   padding: 10px;
}
.btn-mais:hover{
   background-color: var(--color-hover);
}
/*------------CONTAINER 2------------*/
.container-about{
   background-color: white;
   height: auto;
}
.container-about .content{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding: 20px;
   align-items: center;
   width: auto;
   justify-content: space-between;
}
.container-about .content .title {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.container-about .content h1{
   color: orange;
   font-size: 2em;
   margin: 10px;
}
.container-about .content span.img-dr{
   margin: 20px ;
   background-image: url(../assets/imagens/img-DR.jpg);
   background-size: cover;
   background-color: aqua;
   display: block;
   width: 300px;
   height: 400px;
}
.container-about .content .experiencias{
   display: flex;
   gap: 20px;
   padding: 0px 20px;
   flex-direction: column;
}
.container-about .exp{
   background-color: #ffa500;
   padding: 10px;
}
.saiba-mais{
   width: max-content;
   background-color: #ffa500;
   padding: 10px;
   cursor: pointer;
   color: white;
   font-size: 1.5em;
   margin: 20px auto;
   font-weight: bold;
   transition: all 300ms ease-in-out;
}
.saiba-mais:hover {
   background-color: aqua;
}
/*------------CONTAINER INVISALIGN------------*/
.container-Invisalign{
   background-color: rgb(70, 67, 67);
   padding: 20px;
   text-align: center;
   color: rgb(211, 206, 206);
}
.container-Invisalign .title-invisalign h2, p.spec{
   color: white;
   margin: 20px 0px;
   font-size: 2.2em;
}
.container-Invisalign .title-invisalign p.spec{
   font-size: 1.6em;
}
.container-img img{
   width: 50%;
   margin: 20px 0;
}
.container-Invisalign .card-description{
   display: flex;
   justify-content: center;
}
.container-Invisalign .card-description .card{
   width: 200px;
   position: relative;
   padding: 20px;
   color: rgb(211, 206, 206);
   border: 1px solid rgba(255, 255, 255, 0.719);
   margin: 20px 10px;
}
.container-Invisalign .card-description .card p.title{
   margin-bottom: 10px;
   font-weight: bold;
}
.container-Invisalign .end p{
   color: rgb(211, 206, 206);
   text-decoration: none;
   margin: 10px;
}
.container-Invisalign .end p:hover{
   color: orange;
}
/*------------CONTAINER 4------------*/
.container-wpp{
   display: flex;
   padding:20px;
   background-color: orange;
   font-size: 1em;
   text-align: center;
}
.container-wpp p{
   font-weight: bolder;
   color: black;
   font-size: 1em;
   margin: auto;
   font-weight: normal;
}
.container-wpp button{
   color: white;
   border-radius: 5px;
   padding: 20px;
   margin: 20px 40px;
   border: none;
   cursor: pointer;
   background: linear-gradient(to right, rgb(5, 175, 5), rgb(4, 184, 4));
}
.container-wpp button:hover{
   background-color: var(--color-hover);
}
/*------------CONTAINER FEEDBACK------------*/
.container-feedback{
   margin: 20px;
}
.container-feedback h2{
   color: black;
   font-size: 1em;
}
.container-feedback .title{
   text-align: center;
   font-size: 1.5em;
   margin: 40px;
}
.container-feedback .title p {
   color: rgb(155, 153, 153);
}
.container-feedback div.depoimentos{
   font-size: 1.5em;
   display: flex;
}
div.depoimentos div.card_feedback{
   position: relative;
   margin: 0px 10px;
   width: auto;
   margin-bottom: 30px;
}
.card_feedback h3{
   color: rgb(219, 144, 4);
   margin-bottom: 20px;
}
.depoimentos p{
   color: rgb(21, 185, 235);
   font-weight: bold;
   margin: 20px;
}
.card-img{
   position: relative;
   background-color: rgba(255, 255, 0, 0.363);
   width: 100%;
   height: 300px;
   background-position: center center;
   background-size: cover;
}
.julia{
   background-image: url(../assets/imagens/feedback/feedback-julia.jpg);
}
.paula{
   background-image: url(../assets/imagens/feedback/feedback-paula.jpg);
}
.fernando{
   background-image: url(../assets/imagens/feedback/feedback-fernando.jpg);
}
/*---------------FOOTER--------------*/
footer{
   padding: 10px;
   background-color: black;
   color: white;
}
footer p{
   margin: 5px 0;
   text-align: center;
}
footer a{
   text-decoration: underline;
}
/*------------ MEDIA QUERY ------------*/
@media (max-width:800px) {
   .container-home{
      height: 50vh;
   }
   .container-home .card{
      font-size: 1em;
      text-align: center;
      width: 90%;
      margin: 10px auto;
      height: auto;
   }
   .container-home .card h1 {
      font-size: 1em;
   }
   .container-about .content{
      grid-template-columns: 1fr;
   }
   .container-Invisalign .card-description{
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
   }
   .container-Invisalign .card-description .card {
      width: 90%;
   }
   .container-feedback div.depoimentos{
      display: block;
   }
}
@media (max-width:462px) {
   .container-wpp p {
      font-size: 0.8em;
   }
}
/* Animações */
[data-anime]{
   transition: 0.4s;
   opacity: 0;
}
[data-anime="up"]{
   transform: translate3d(0, 100px, 0);
}
[data-anime="left"]{
   transform: translate3d(-100%, 0, 0);
}
[data-anime="right"]{
   transform: translate3d(50px, 0, 0);
}
@media (max-width: 1800px) {
   [data-anime="right"] {
      transform: translate3d(-100%, 0, 0);
   }
}
[data-anime].animate{
   opacity: 1;
   transform: translate3d(0, 0, 0);
}
.grow{
   transition: 0.3s;
}
.grow:hover{
   transform: scale(1.1);
   transition: 0.3s;
}
.decrease{
   transition: 0.4s;
}
.decrease:hover{
   transform: scale(0.9);
}