*{
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   list-style: none;
}
a{
   color: inherit;
}
.content-menu{
   display: flex;
   max-width: 1200px;
   padding: 10px;
   width: 100%;
   margin: auto;
   align-items: center;
   justify-content: space-between;
}
/*--------------HEADER---------------*/
body{
   position: relative;
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
}
header{
   align-items: center;
   justify-content: center;
   padding: 10px 0px;
   background-color: white;
   display: flex;
   color: black;
}
header span.title{
   color: orange;
}
header nav{
   align-items: center;
   display: flex;
}
nav ul{
   display: flex;
   align-items: center;
   gap: 20px;
}
header nav a{
   color: black;
   text-decoration: none;
}
header .btn_wpp{
   cursor: pointer;
   background: linear-gradient(to right, rgb(41, 186, 243), rgb(11, 168, 230));
   padding: 10px;
   width: 200px;
   text-align: center;
   color: white;
}
header .btn_wpp:hover{
   transition: 0.5s;
   background: linear-gradient(to right, rgb(6, 219, 6), rgb(6, 219, 6));
}
header .btn_wpp {
   color: white;
   text-decoration: none;
   overflow: hidden;
}
#checkbox-menu{
   display: none;
}
/*------------ MENU MOBILE ------------*/
.menu-hamburguer{
   display: none;
   cursor: pointer;
}
.menu-hamburguer div{
   width: 32px;
   height: 2px;
   background-color: black;
   margin: 8px;
   transition: all 200ms ease-in-out;

}
@media (max-width: 800px) {
   .menu-hamburguer {
      display: block;
   }
   .menu {
      display: none;       
   }
   .menu ul{
      padding: 10px;
      flex-direction: column;
   }
   #checkbox-menu:checked~.menu {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 57px;
      height: 100vh;
      z-index: 1000;
      background-color: white;
      right: 0;
      width: 50vw; 
   }
   ul li.btn_wpp {
      order: -1;
   }
   #checkbox-menu:checked + .menu-hamburguer div.line1{
      transform: rotate(-45deg) translate(-8px);
   }
   #checkbox-menu:checked~.menu-hamburguer div.line2{
      position: absolute;
      opacity: 0;
   }
   #checkbox-menu:checked~.menu-hamburguer div.line3{
      transform: rotate(45deg) translate(-5px, -1px);
   }
}
/*------------CONTAINER 1------------*/
.container-home{
   height: 100vh;
   display: flex;
   align-items: center;
   background-size: cover;
   background-color: rgb(214, 182, 92);
   background-image: url(../assets/imagens/background-container1.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: scroll;
   padding: 20px;
   color: white;
   position: relative;
}
.container-home .card{
   width: 600px;
   padding: 20px;
   background-color: rgba(0, 0, 0, 0.349);
   display: block;
}
.container-home .card h1{
   padding: 10px 0px;
   font-size: 5em;
}
.btn-mais{
   display: flex;
   font-size: 2em;
   color: white;
   cursor: pointer;
   font-weight: bold;
   background-color: orange;
   border: none;
   margin: 20px auto;
   padding: 10px;
}
.grow{
   -webkit-transform: scale(1.0);
   transition: 0.3s;
}
.grow:hover{
   -webkit-transform: scale(1.1);
   transition: 0.3s;
}
/*------------CONTAINER 2------------*/
.container-presentetion{
   background-color: white;
   height: auto;
}
.container-presentetion .content{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding: 20px;
   align-items: center;
   width: auto;
   justify-content: space-between;
}
.container-presentetion .content h1{
   color: orange;
   font-size: 2em;
   margin: 10px;
}
.container-presentetion .content span.img-dr{
   margin: 20px ;
   background-image: url(/assets/imagens/imagem-container2.jpg);
   background-size: cover;
   background-color: aqua;
   display: block;
   width: 300px;
   height: 400px;
}
.content .experiencias{
   display: flex;
   gap: 20px;
   padding: 0px 20px;
   flex-direction: column;
}
.exp{
   background-color: orange;
   padding: 10px;
}
.saiba-mais{
   width: 180px;
   cursor: pointer;
   color: black;
   margin: 20px;
   font-weight: bold;
}
.saiba-mais:hover {
   color: orange;
   text-decoration: underline;
}
/*------------CONTAINER 3------------*/
.container-Invisalign{
   background-color: rgb(70, 67, 67);
   padding: 20px;
   text-align: center;
   color: rgb(211, 206, 206);
}
.container-Invisalign .title-invisalign h2, p.spec{
   color: white;
   margin: 20px 0px;
   font-size: 2.2em;
}
.container-Invisalign .title-invisalign p.spec{
   font-size: 1.6em;
}
.container-img img{
   width: 50%;
   margin: 20px 0;
}
.container-Invisalign .card-description{
   display: flex;
   justify-content: center;
}
.container-Invisalign .card-description .card{
   width: 200px;
   position: relative;
   padding: 20px;
   color: rgb(211, 206, 206);
   border: 1px solid rgba(255, 255, 255, 0.719);
   margin: 20px 10px;
}
.container-Invisalign .card-description .card p.title{
   margin-bottom: 10px;
   font-weight: bold;
}
.container-Invisalign .end p{
   color: rgb(211, 206, 206);
   text-decoration: none;
   margin: 10px;
}
.container-Invisalign .end p:hover{
   color: orange;
}
/*------------CONTAINER 4------------*/
.container4{
   display: flex;
   padding:20px;
   background-color: orange;
   font-size: 1.3em;
   text-align: center;
}
.container4 h2{
   color: black;
   font-size: 1em;
   margin: auto;
   font-weight: normal;
}
.container4 .button{
   color: white;
   background: linear-gradient(to right, rgb(41, 186, 243), rgb(11, 168, 230));
   border-radius: 5px;
   padding: 20px;
   margin: 20px 40px;
}
.container4 a{
   color: white;
   text-decoration: none;
}
.container4 .button:hover{
   background: linear-gradient(to right, rgb(3, 196, 3), rgb(3, 196, 3));
}
/*------------CONTAINER FEEDBACK------------*/
.container-feedback{
   margin: 20px;
}
.container-feedback h2{
   color: black;
   font-size: 1em;
}
.container-feedback .title{
   text-align: center;
   font-size: 1.5em;
   margin: 40px;
}
.container-feedback .title p{
   color: rgb(155, 153, 153);
}
.container-feedback div.depoimentos{
   font-size: 1.5em;
   display: flex;
}
div.depoimentos div.card_feedback{
   position: relative;
   
   margin: 0px 10px;
   width: auto;
   margin-bottom: 30px;
}
.card_feedback h3{
   color: rgb(219, 144, 4);
   margin-bottom: 20px;
}
.depoimentos p{
   color: rgb(21, 185, 235);
   font-weight: bold;
   margin: 20px;
}
.card-img{
   position: relative;
   background-color: rgba(255, 255, 0, 0.363);
   width: 100%;
   height: 300px;
   background-position: center center;
   background-size: cover;
}
.julia{
   background-image: url(../assets/imagens/feedback/feedback-julia.jpg);
}
.paula{
   background-image: url(../assets/imagens/feedback/feedback-paula.jpg);
}
.fernando{
   background-image: url(../assets/imagens/feedback/feedback-fernando.jpg);
}
/*---------------FOOTER--------------*/
footer{
   background-color: black;
   color: white;
}
footer p{
   text-align: center;
}
/*------------ MEDIA QUERY ------------*/
@media (max-width:800px) {
   .container-home{
      height: 50vh;
   }
   .container-home .card{
      text-align: center;
      width: 100%;
   }
   .container-home .card h1 {
      font-size: 2em;
   }
   .btn-mais {
      font-size: 1em;
   }
   .container-presentetion .content{
      grid-template-columns: 1fr;
   }
   .container-presentetion .content .title{
      margin: auto;
   }
   .container-Invisalign .card-description{
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
   }
   .container-Invisalign .card-description .card {
      width: 90%;
   }
   .container-feedback div.depoimentos{
      display: block;
   }
}